body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Young Serif", serif;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  margin-top: 23%;
  margin-left: 2%;
}

.card {
  margin-top: 23%;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  border: 1px rgb(254, 254, 254) solid;
  transition: box-shadow 0.3s ease;
  width: 60%; /* Adjust this value based on your preference */
  max-width: 400px; /* Set a maximum width if needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.card > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-body > .card-title {
  margin-bottom: 0px;
}

.card-body > .prep {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  line-height: 1.5;
  padding-bottom: 0px;
}

.prep > h5 {
  margin-bottom: 0px;
  padding: 5px;
  color: hsl(332, 51%, 32%);
}

.prep > ul {
  margin-top: 0px;
}

.prep ul li {
  margin-left: 20px; /* Adjust this value according to your preference */
}

.prep {
  padding-right: 20px; /* Adjust this value according to your preference */
}

.prep ul {
  padding: 0;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ingredients ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.ingredients ul li::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: 0em;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instructions ol {
  padding: 0;
  margin: 15px;
  line-height: 1.5;
}

.instructions ol li::before {
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.card-body > h3,
section h3 {
  padding-bottom: 0;
  margin-bottom: -10px;
  color: hsl(332, 51%, 32%);
}

.ingredients > h3 {
  margin-bottom: 5px;
}

/* Add this media query for smaller screens */
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
    max-width: none; /* Reset the max-width for smaller screens */
  }

  .prep {
    padding-right: 10px; /* Adjust padding for smaller screens */
  }

  .instructions ol {
    margin: 10px; /* Adjust margin for smaller screens */
  }

  table {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }
}

