* {
    font-family: 'Overpass', sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container {
    width: 360px; /* Set your desired width */
    height: 45vh; /* Set your desired height */
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; /* Center vertically */
    left: 0; right: 0; /* Center horizontally */
    background-color: hsl(216, 12%, 54%);
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 15px;
}

.container h2 {
    font-weight: bolder;
    font-size: 1.8rem;
}

.container p {
    font-size: 17px;
}
  
.ratings {
    display: flex;
    padding-left: -10px;
    justify-content: flex-start;
}
  
  .rating-btn {
    flex: 1;
    width: 50px; /* Set your desired button size */
    height: 50px;
    margin: 10px; /* Set your desired margin between buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl(216, 15%, 67%); /* Set your desired border color */
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
  
  .rating-btn:hover {
    background-color: hsl(213, 6%, 32%); /* Set your desired background color on hover */
    color: #fff; /* Set your desired text color on hover */
}

.container button {
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 15px;
    width: 97.5%;
    border-radius: 30px;
    border: hsl(25, 97%, 53%);
    background-color: hsl(25, 97%, 53%);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* Add your styles for screens up to 768 pixels wide */
    .container {
      width: 100%; /* Set width to 100% for responsiveness */
    }
  
    .ratings {
      flex-direction: column; /* Change to column layout for smaller screens */
      align-items: center; /* Center the rating buttons */
    }
  
    .rating-btn {
      margin-right: 0; /* Remove right margin for rating buttons */
    }
  }
  