body {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

.card {
  padding: 15px;
  border-radius: 15px;
  background-color: white;
}

.card-title,
.card-text {
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.55rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.card-text {
  color: hsl(220, 15%, 55%);
  font-size: 18px;
}

.card-img-top {
  border-radius: 12px;
}

/* Media queries */
@media only screen and (max-width: 767px) {
  .container {
    height: auto; /* Adjust height as needed for mobile layout */
  }

  .card {
    width: 90%; /* Adjust the width percentage as needed for mobile screens */
    max-width: 400px; /* Set a maximum width if necessary */
    height: auto;
    margin: 0 auto; /* Center the card horizontally */
  }

  .card-title {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .card-text {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  /* Add any additional styles or adjustments for mobile screens here */
}
