* {
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    background-color: hsl(216, 50%, 16%);
    color: white;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

.card-body{
    padding-left: 0;
    padding-top: 20px;
    padding-right: 0;
}

.card-body h5 {
    font-weight: bold;
}

.card-body .card-text {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    text-align: left;
}

.card-body .eth {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
    vertical-align: auto;
}

.card-body .eth img,
.card-body .clock img {
    padding-right: 4px;
}

.clock {
    padding-left: 6.2rem;
    color: hsl(215, 51%, 70%);
    font-size: 16px;
}

.avatar {
    color: hsl(178, 100%, 50%);
}

.avatar span {
    color: white;
    font-size: 16px;
}

.avatar img {
    width: 11%;
    height: 11%;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
  
